<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets">
  <name>pixivreader</name>
  <description>pixiv enhancement</description>
  <author href="http://d.hatena.ne.jp/edvakf/">edvakf</author>
  <icon width="64" height="64" src="icons/icon64.png" />
  <icon width="18" height="18" src="icons/icon18.png" />
</widget>
